<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 180</b>

<div><b>id  var1                     var2                                                   var3                     var4   var5   var6   var7   var8           var9           var10  </b></div>
<span>0   Tree                     A pointy tree                                          tree2(0)                 1      1      1      1      WalkTo         Examine        0      
    Tree1                                                                                                                                                                     
</span><span>1   Tree                     A leafy tree                                           tree(1)                  1      1      1      1      WalkTo         Examine        0      
    Tree2                                                                                                                                                                     
</span><span>2   Well                     The bucket is missing                                  well(2)                  2      2      1      1      WalkTo         Examine        0      
</span><span>3   Table                    A mighty fine table                                    table(3)                 1      1      1      0      WalkTo         Examine        96     
</span><span>4   Treestump                Someone has chopped this tree down!                    treestump(4)             1      1      1      0      WalkTo         Examine        0      
</span><span>5   Ladder                   it's a ladder leading upwards                          ladder(5)                1      1      1      1      Climb-Up       Examine        0      
    LadderUp                                                                                                                                                                  
</span><span>6   Ladder                   it's a ladder leading downwards                        ladderdown(6)            1      1      1      0      Climb-Down     Examine        0      
    LadderDown                                                                                                                                                                
</span><span>7   Chair                    A sturdy looking chair                                 chair(7)                 1      1      1      0      WalkTo         Examine        0      
    Chair1                                                                                                                                                                    
</span><span>8   logs                     A pile of logs                                         logpile(8)               1      1      1      0      WalkTo         Examine        0      
</span><span>9   Longtable                It has nice candles                                    longtable(9)             4      1      1      0      WalkTo         Examine        0      
</span><span>10  Throne                   It looks fancy and expensive                           throne(10)               1      1      1      0      WalkTo         Examine        0      
</span><span>11  Range                    A hot well stoked range                                range(11)                1      2      1      0      WalkTo         Examine        0      
</span><span>12  Gravestone               R I P                                                  gravestone1(12)          1      1      1      0      WalkTo         Examine        0      
    Crossgrave                                                                                                                                                                
</span><span>13  Gravestone               Its covered in moss                                    gravestone2(13)          1      1      1      0      WalkTo         Examine        0      
    Gravestone2                                                                                                                                                               
</span><span>14  Bed                      Ooh nice blankets                                      Bigbed(14)               2      3      1      0      WalkTo         Examine        0      
    Bigbed                                                                                                                                                                    
</span><span>15  Bed                      Its a bed - wow                                        bed(15)                  2      2      1      0      WalkTo         Examine        0      
    Bed                                                                                                                                                                       
</span><span>16  bar                      Mmm beer                                               barpumps(16)             1      1      1      0      WalkTo         Examine        0      
</span><span>17  Chest                    na                                                     ChestOpen(17)            1      1      1      0      Search         Close          0      
    Openchest                                                                                                                                                                 
</span><span>18  Chest                    I wonder what is inside...                             ChestClosed(18)          1      1      1      0      Open           Examine        0      
    Shutchest                                                                                                                                                                 
</span><span>19  Altar                    Its an Altar                                           altar(19)                2      1      1      0      WalkTo         Examine        0      
</span><span>20  Post                     What am I examining posts for                          wallpost(20)             1      1      1      1      WalkTo         Examine        0      
</span><span>21  Support                  A wooden pole                                          supportnw(21)            1      1      0      0      WalkTo         Examine        0      
    supportnw                                                                                                                                                                 
</span><span>22  barrel                   Its got ale in it                                      barrel(22)               1      1      1      0      WalkTo         Examine        0      
</span><span>23  Bench                    It doesn't look very comfy                             bench(23)                2      1      1      0      WalkTo         Examine        0      
</span><span>24  Portrait                 A painting of our beloved king                         portrait(24)             1      1      0      0      WalkTo         Examine        0      
</span><span>25  candles                  Candles on a fancy candlestick                         candles(25)              1      1      1      1      WalkTo         Examine        0      
</span><span>26  fountain                 The water looks fairly clean                           fountain(26)             2      2      1      1      WalkTo         Examine        0      
</span><span>27  landscape                An oil painting                                        landscape(27)            1      1      0      0      WalkTo         Examine        0      
</span><span>28  Millstones               You can use these to make flour                        mill(28)                 3      3      1      1      WalkTo         Examine        0      
</span><span>29  Counter                  It's the shop counter                                  counter(29)              2      1      1      0      WalkTo         Examine        120    
</span><span>30  Stall                    A market stall                                         market(30)               2      2      1      0      WalkTo         Examine        112    
</span><span>31  Target                   Coming soon archery practice                           target(31)               1      1      1      1      Practice       Examine        0      
</span><span>32  PalmTree                 A nice palm tree                                       palm2(32)                1      1      1      1      WalkTo         Examine        0      
    palm1                                                                                                                                                                     
</span><span>33  PalmTree                 A shady palm tree                                      palm(33)                 1      1      1      1      WalkTo         Examine        0      
    palm2                                                                                                                                                                     
</span><span>34  Fern                     A leafy plant                                          fern(34)                 1      1      0      0      WalkTo         Examine        0      
</span><span>35  Cactus                   It looks very spikey                                   cactus(35)               1      1      1      1      WalkTo         Examine        0      
</span><span>36  Bullrushes               I wonder why it's called a bullrush                    bullrushes(36)           1      1      0      0      WalkTo         Examine        0      
</span><span>37  Flower                   Ooh thats pretty                                       flower(37)               1      1      0      0      WalkTo         Examine        0      
</span><span>38  Mushroom                 I think it's a poisonous one                           mushroom(38)             1      1      0      0      WalkTo         Examine        0      
</span><span>39  Coffin                   This coffin is closed                                  coffin(39)               2      2      1      0      Open           Examine        0      
    shutcoffin                                                                                                                                                                
</span><span>40  Coffin                   na                                                     coffin2(40)              2      2      1      0      Search         Close          0      
    opencoffin                                                                                                                                                                
</span><span>41  stairs                   These lead upstairs                                    woodenstairs(41)         2      3      1      1      Go up          Examine        0      
    stairsup                                                                                                                                                                  
    Woodenstairsup                                                                                                                                                            
</span><span>42  stairs                   These lead downstairs                                  woodenstairsdown(42)     2      3      1      1      Go down        Examine        0      
    stairsdown                                                                                                                                                                
    woodenstairsdown                                                                                                                                                          
</span><span>43  stairs                   These lead upstairs                                    stonestairs(43)          2      3      1      1      Go up          Examine        0      
    stairsup                                                                                                                                                                  
    stonestairsup                                                                                                                                                             
</span><span>44  stairs                   These lead downstairs                                  stonestairsdown(44)      2      3      1      1      Go down        Examine        0      
    stairsdown                                                                                                                                                                
    stonestairsdown                                                                                                                                                           
</span><span>45  railing                  nice safety measure                                    woodenrailing(45)        1      1      1      0      WalkTo         Examine        0      
</span><span>46  pillar                   An ornate pillar                                       marblepillar(46)         1      1      1      1      WalkTo         Examine        0      
</span><span>47  Bookcase                 A large collection of books                            bookcase(47)             1      2      1      1      WalkTo         Examine        0      
    bookcase                                                                                                                                                                  
</span><span>48  Sink                     Its fairly dirty                                       sink(48)                 1      2      1      0      WalkTo         Examine        0      
</span><span>49  Dummy                    I can practice my fighting here                        sworddummy(49)           1      1      1      1      hit            Examine        0      
</span><span>50  anvil                    heavy metal                                            anvil(50)                1      1      1      0      WalkTo         Examine        0      
</span><span>51  Torch                    It would be very dark without this                     torcha1(51)              1      1      0      0      WalkTo         Examine        0      
</span><span>52  hopper                   You put grain in here                                  milltop(52)              2      2      1      0      operate        Examine        0      
    hopper1                                                                                                                                                                   
</span><span>53  chute                    Flour comes out here                                   millbase(53)             2      2      1      1      WalkTo         Examine        40     
</span><span>54  cart                     A farm cart                                            cart(54)                 2      3      1      0      WalkTo         Examine        0      
</span><span>55  sacks                    Yep they're sacks                                      sacks(55)                1      1      1      0      WalkTo         Examine        0      
</span><span>56  cupboard                 The cupboard is shut                                   cupboard(56)             1      2      1      1      open           Examine        0      
    cupboardshut                                                                                                                                                              
</span><span>57  gate                     The gate is closed                                     metalgateclosed(57)      1      2      2      0      open           Examine        0      
    metalgateclosed                                                                                                                                                           
</span><span>58  gate                     na                                                     metalgateopen(58)        1      2      3      0      WalkTo         close          0      
    metalgateopen                                                                                                                                                             
</span><span>59  gate                     na                                                     woodengateopen(59)       1      2      3      0      WalkTo         close          0      
    woodengateopen                                                                                                                                                            
</span><span>60  gate                     The gate is closed                                     woodengateclosed(60)     1      2      2      0      open           Examine        0      
    woodengateclosed                                                                                                                                                          
</span><span>61  signpost                 To Varrock                                             signpost(61)             1      1      1      0      WalkTo         Examine        0      
    varrocksign                                                                                                                                                               
</span><span>62  signpost                 To the tower of wizards                                signpost(61)             1      1      1      0      WalkTo         Examine        0      
    towersign                                                                                                                                                                 
</span><span>63  doors                    na                                                     doubledoorsopen(62)      1      2      3      0      WalkTo         Close          0      
    doubledoorsopen                                                                                                                                                           
</span><span>64  doors                    The doors are shut                                     doubledoorsclosed(63)    1      2      2      1      Open           Examine        0      
    doubledoorsclosed                                                                                                                                                         
</span><span>65  signpost                 To player owned houses                                 signpost(61)             1      1      1      0      WalkTo         Examine        0      
    housingsign                                                                                                                                                               
</span><span>66  signpost                 To Lumbridge Castle                                    signpost(61)             1      1      1      0      WalkTo         Examine        0      
    Lumbridgesign                                                                                                                                                             
</span><span>67  bookcase                 na                                                     bookcase(47)             1      2      1      1      WalkTo         examine        0      
    questbookcase                                                                                                                                                             
</span><span>68  henge                    these look impressive                                  henge(64)                2      2      1      0      WalkTo         Examine        0      
</span><span>69  Dolmen                   A sort of ancient altar thingy                         dolmen(65)               2      2      1      0      WalkTo         Examine        0      
</span><span>70  Tree                     This tree doesn't look too healthy                     deadtree1(66)            1      1      1      1      WalkTo         Examine        0      
    Deadtree1                                                                                                                                                                 
</span><span>71  cupboard                 na                                                     cupboardopen(67)         1      2      1      1      search         close          0      
    cupboardopen                                                                                                                                                              
</span><span>72  Wheat                    nice ripe looking wheat                                wheat(68)                1      1      0      0      WalkTo         pick           0      
</span><span>73  sign                     The blue moon inn                                      shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    bluemoonsign                                                                                                                                                              
</span><span>74  sails                    The windmill's sails                                   windmillsail(70)         1      3      0      0      WalkTo         Examine        0      
</span><span>75  sign                     estate agent                                           shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    estateagentsign                                                                                                                                                           
</span><span>76  sign                     The Jolly boar inn                                     shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    jollyboarsign                                                                                                                                                             
</span><span>77  Drain                    This drainpipe runs from the kitchen to the sewers     pipe&drain(71)           1      1      0      0      WalkTo         examine        0      
    questdrain                                                                                                                                                                
</span><span>78  manhole                  A manhole cover                                        manholeclosed(72)        1      1      0      0      open           Examine        0      
    manholeclosed                                                                                                                                                             
</span><span>79  manhole                  na                                                     manholeopen(73)          1      1      0      0      climb down     close          0      
    manholeopen                                                                                                                                                               
</span><span>80  pipe                     a dirty sewer pipe                                     wallpipe(74)             1      1      1      0      WalkTo         Examine        0      
</span><span>81  Chest                    na                                                     ChestOpen(17)            1      1      1      0      Search         Close          0      
    PhoenixOpenchest                                                                                                                                                          
</span><span>82  Chest                    I wonder what is inside...                             ChestClosed(18)          1      1      1      0      Open           Examine        0      
    PhoenixShutchest                                                                                                                                                          
</span><span>83  barrel                   It seems to be full of newt's eyes                     barrel(22)               1      1      1      0      WalkTo         Examine        0      
    hauntedbarrel                                                                                                                                                             
</span><span>84  cupboard                 The cupboard is shut                                   cupboard(56)             1      2      1      1      open           Examine        0      
    blackarmcupboardshut                                                                                                                                                      
</span><span>85  cupboard                 na                                                     cupboardopen(67)         1      2      1      1      search         close          0      
    blackarmcupboardopen                                                                                                                                                      
</span><span>86  fountain                 na                                                     fountain(26)             2      2      1      1      WalkTo         examine        0      
    hauntedfountain                                                                                                                                                           
</span><span>87  signpost                 To Draynor Manor                                       signpost(61)             1      1      1      0      WalkTo         Examine        0      
    Draynorsign                                                                                                                                                               
</span><span>88  Tree                     This tree doesn't look too healthy                     deadtree1(66)            1      1      1      1      walk to        examine        0      
    Deadtree2                                                                                                                                                                 
</span><span>89  sign                     General Store                                          shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    generalstoresign                                                                                                                                                          
</span><span>90  sign                     Lowe's Archery store                                   shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    archerystore                                                                                                                                                              
</span><span>91  sign                     The Clothes Shop                                       shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    clothesshop                                                                                                                                                               
</span><span>92  sign                     Varrock Swords                                         shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    swordshop                                                                                                                                                                 
</span><span>93  gate                     Coming soon -Player owned houses                       metalgateclosed(57)      1      2      2      0      WalkTo         Examine        0      
    housinggate                                                                                                                                                               
</span><span>94  gate                     Coming soon -Draynor Manor                             metalgateclosed(57)      1      2      2      0      WalkTo         Examine        0      
    Draynorgate                                                                                                                                                               
</span><span>95  sign                     Bob's axes                                             shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    axeshop                                                                                                                                                                   
</span><span>96  sign                     The staff shop                                         shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    staffshop                                                                                                                                                                 
</span><span>97  fire                     A strongly burning fire                                firea1(75)               1      1      0      0      WalkTo         Examine        0      
</span><span>98  Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    plainrock1                                                                                                                                                                
</span><span>99  Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    plainrock2                                                                                                                                                                
</span><span>100 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    copperrock1                                                                                                                                                               
</span><span>101 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    copperrock2                                                                                                                                                               
</span><span>102 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    ironrock1                                                                                                                                                                 
</span><span>103 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    ironrock2                                                                                                                                                                 
</span><span>104 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    tinrock1                                                                                                                                                                  
</span><span>105 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    tinrock2                                                                                                                                                                  
</span><span>106 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    mithrilrock1                                                                                                                                                              
</span><span>107 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    mithrilrock2                                                                                                                                                              
</span><span>108 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    adamantiterock1                                                                                                                                                           
</span><span>109 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    adamantiterock2                                                                                                                                                           
</span><span>110 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    coalrock1                                                                                                                                                                 
</span><span>111 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    coalrock2                                                                                                                                                                 
</span><span>112 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    goldrock1                                                                                                                                                                 
</span><span>113 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    goldrock2                                                                                                                                                                 
</span><span>114 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    clayrock1                                                                                                                                                                 
</span><span>115 Rocks                    A rocky outcrop                                        rocks2(77)               1      1      1      0      WalkTo         Prospect       0      
    clayrock2                                                                                                                                                                 
</span><span>116 web                      A spider's web                                         ceilingweb(78)           1      1      0      0      WalkTo         Examine        0      
    ceiling web                                                                                                                                                               
</span><span>117 web                      A spider's web                                         floorweb(79)             1      1      0      0      WalkTo         Examine        0      
    floor web                                                                                                                                                                 
</span><span>118 furnace                  A red hot furnace                                      furnace(80)              2      2      1      1      WalkTo         Examine        0      
</span><span>119  Range                   A hot well stoked range                                range(11)                1      2      1      0      WalkTo         Examine        0      
    Cookrange                                                                                                                                                                 
</span><span>120 Machine                  I wonder what it's supposed to do                      madmachine(81)           2      2      1      1      WalkTo         Examine        0      
</span><span>121 Spinning wheel           I can spin wool on this                                spinningwheel(82)        1      1      1      0      WalkTo         Examine        0      
</span><span>122 Lever                    The lever is up                                        leverup(83)              1      1      0      0      WalkTo         Examine        0      
    Leverup                                                                                                                                                                   
</span><span>123 Lever                    The lever is down                                      leverdown(84)            1      1      0      0      WalkTo         Examine        0      
    Leverdown                                                                                                                                                                 
</span><span>124 LeverA                   na                                                     leverup(83)              1      1      0      0      Pull            examine       0      
</span><span>125 LeverB                   na                                                     leverup(83)              1      1      0      0      Pull            examine       0      
</span><span>126 LeverC                   na                                                     leverup(83)              1      1      0      0      Pull            examine       0      
</span><span>127 LeverD                   na                                                     leverup(83)              1      1      0      0      Pull            examine       0      
</span><span>128 LeverE                   na                                                     leverup(83)              1      1      0      0      Pull            examine       0      
</span><span>129 LeverF                   na                                                     leverup(83)              1      1      0      0      Pull            examine       0      
</span><span>130 Ladder                   it's a ladder leading upwards                          ladder(5)                1      1      1      1      Climb-Up       Examine        0      
    puzzLadderUp                                                                                                                                                              
</span><span>131 signpost                 To the forge                                           signpost(61)             1      1      1      0      WalkTo         Examine        0      
    Forgesign                                                                                                                                                                 
</span><span>132 signpost                 To the Barbarian's  Village                            signpost(61)             1      1      1      0      WalkTo         Examine        0      
    Barbsign                                                                                                                                                                  
</span><span>133 signpost                 To Al Kharid                                           signpost(61)             1      1      1      0      WalkTo         Examine        0      
    Kharidsign                                                                                                                                                                
</span><span>134 Compost Heap             A smelly pile of compost                               compost(85)              2      2      1      0      WalkTo         Search         0      
</span><span>135 Coffin                   This coffin is closed                                  coffin(39)               2      2      1      0      Open           Examine        0      
    vampshutcoffin                                                                                                                                                            
</span><span>136 Coffin                   na                                                     coffin2(40)              2      2      1      0      Search         Close          0      
    vampopencoffin                                                                                                                                                            
</span><span>137 gate                     Coming soon - Kingdom of Asgarnia                      metalgateclosed(57)      1      2      2      0      WalkTo         Examine        0      
    Asgarniagate                                                                                                                                                              
</span><span>138 doors                    A locked door to the bank vault                        doubledoorsclosed(63)    1      2      2      1      WalkTo         Examine        0      
    doubledoorsclosed                                                                                                                                                         
</span><span>139 sign                     The Bank of Varrock                                    shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    banksign                                                                                                                                                                  
</span><span>140 cupboard                 The cupboard is shut                                   cupboard(56)             1      2      1      1      open           Examine        0      
    garliccupboardshut                                                                                                                                                        
</span><span>141 cupboard                 na                                                     cupboardopen(67)         1      2      1      1      search         close          0      
    garliccupboardopen                                                                                                                                                        
</span><span>142 doors                    The doors are shut                                     doubledoorsclosed(63)    1      2      2      1      Open           Examine        0      
    unopenable doors                                                                                                                                                          
</span><span>143 torch                    A scary torch                                          skulltorcha1(86)         1      1      0      0      WalkTo         Examine        0      
    Skulltorch                                                                                                                                                                
</span><span>144 Altar                    An altar to the evil God Zamorak                       chaosaltar(87)           2      1      1      0      WalkTo         Examine        0      
    chaos altar                                                                                                                                                               
</span><span>145 Shield                   A display shield                                       wallshield(88)           1      1      0      0      WalkTo         Examine        0      
</span><span>146 Grill                    some sort of ventilation                               wallgrill(89)            1      1      0      0      WalkTo         Examine        0      
</span><span>147 Cauldron                 A very large pot                                       cauldron(90)             1      1      1      0      WalkTo         drink from     0      
    Hettycauldron                                                                                                                                                             
</span><span>148 Grill                    some sort of ventilation                               wallgrill(89)            1      1      0      0      Listen         Examine        0      
    witchgrill                                                                                                                                                                
</span><span>149 Mine Cart                It's empty                                             minecart(91)             1      1      1      0      WalkTo         Examine        0      
</span><span>150 Buffers                  Stop the carts falling off the end                     trackbuffer(92)          1      1      1      0      WalkTo         Examine        0      
</span><span>151 Track                    Train track                                            trackcurve(93)           2      2      0      0      WalkTo         Examine        0      
    Trackcurve                                                                                                                                                                
</span><span>152 Track                    Train track                                            trackpoints(94)          2      2      0      0      WalkTo         Examine        0      
    trackponts                                                                                                                                                                
</span><span>153 Track                    Train track                                            trackstraight(95)        1      1      0      0      WalkTo         Examine        0      
    trackstraight                                                                                                                                                             
</span><span>154 Hole                     I can see a witches cauldron directly below it         hole(96)                 1      1      1      0      WalkTo         Examine        0      
</span><span>155 ship                     Coming soon ship to Karamja                            Shipfront(97)            5      3      0      1      WalkTo         Examine        0      
    shipfront                                                                                                                                                                 
    Karamjaship                                                                                                                                                               
</span><span>156 ship                     Coming soon ship to Karamja                            Shipmiddle(98)           2      3      0      1      WalkTo         Examine        0      
    shipmiddle                                                                                                                                                                
    Karamjaship                                                                                                                                                               
</span><span>157 ship                     Coming soon ship to Karamja                            Shipback(99)             5      3      0      1      WalkTo         Examine        0      
    shipback                                                                                                                                                                  
    Karamjaship                                                                                                                                                               
</span><span>158 Emergency escape ladder  it's a ladder leading downwards                        ladderdown(6)            1      1      1      0      Climb-Down     Examine        0      
    LadderDown                                                                                                                                                                
</span><span>159 sign                     Wydin's grocery                                        shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    Grocersign                                                                                                                                                                
</span><span>160 sign                     The Rusty Anchor                                       shopsign(69)             1      1      0      0      WalkTo         Examine        0      
    Anchorsign                                                                                                                                                                
</span><span>161 ship                     A ship to Port Sarim                                   Shipfront(97)            5      3      0      1      WalkTo         Examine        0      
    shipfront                                                                                                                                                                 
    Sarimship                                                                                                                                                                 
</span><span>162 ship                     A ship to Port Sarim                                   Shipmiddle(98)           2      3      0      1      WalkTo         Examine        0      
    shipmiddle                                                                                                                                                                
    Sarimjaship                                                                                                                                                               
</span><span>163 ship                     A ship to Port Sarim                                   Shipback(99)             5      3      0      1      WalkTo         Examine        0      
    shipback                                                                                                                                                                  
    Sarimjaship                                                                                                                                                               
</span><span>164 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    plainrock3                                                                                                                                                                
</span><span>165 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    copperrock3                                                                                                                                                               
</span><span>166 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    ironrock3                                                                                                                                                                 
</span><span>167 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    tinrock3                                                                                                                                                                  
</span><span>168 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    mithrilrock3                                                                                                                                                              
</span><span>169 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    adamantiterock3                                                                                                                                                           
</span><span>170 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    coalrock3                                                                                                                                                                 
</span><span>171 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    goldrock3                                                                                                                                                                 
</span><span>172 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    clayrock3                                                                                                                                                                 
</span><span>173 hopper                   You put grain in here                                  milltop(52)              2      2      1      0      operate        Examine        0      
    hopper2                                                                                                                                                                   
</span><span>174 cupboard                 The cupboard is shut                                   cupboard(56)             1      2      1      1      open           Examine        0      
    Vyvincupboardshut                                                                                                                                                         
</span><span>175 cupboard                 na                                                     cupboardopen(67)         1      2      1      1      search         close          0      
    Vyvincupboardopen                                                                                                                                                         
</span><span>176 Rocks                    A rocky outcrop                                        rocks1(76)               1      1      1      0      WalkTo         Prospect       0      
    bluriterock1                                                                                                                                                              
</span><span>177 Doric's anvil            Property of Doric the dwarf                            anvil(50)                1      1      1      0      WalkTo         Examine        0      
</span><span>178 pottery oven             I can fire clay pots in this                           potteryoven(100)         2      2      1      1      WalkTo         Examine        0      
</span><span>179 potter's wheel           I can make clay pots using this                        potterywheel(101)        1      1      1      0      WalkTo         Examine        0      
</span></pre>