<style type='text/css'>span:nth-child(even){background-color:#ddd}div{display:inline;background-color:#bbb}</style><pre><b>count: 12</b>

<div><b>id  var1                var2      var3      var4      var5      var6                var7   </b></div>
<span>0   shortbowarrow       2         4         10        14        arrows              1      </span>
<span>1   longbowarrow        2         5         16        20        arrows              1      </span>
<span>2   crossbowbolt        2         4         12        22        crossbow bolts      1      </span>
<span>3   dummybolt           1         0         0         0         na                  0      </span>
<span>4   chillbolt           1         3         50        30        na                  0      </span>
<span>5   shockbolt           1         3         50        35        na                  0      </span>
<span>6   windbolt            1         3         60        40        na                  0      </span>
<span>7   elementalbolt       1         3         60        50        na                  0      </span>
<span>8   monchillbolt        1         3         50        60        na                  0      </span>
<span>9   monshockbolt        1         3         50        70        na                  0      </span>
<span>10  monwindbolt         1         3         60        80        na                  0      </span>
<span>11  monelementalbolt    1         3         60        100       na                  0      </span>
</pre>